.container {
    > .clothing-stock-desc {
        max-width: 700px;
        margin: auto;
    }

    > .sell-container {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        > .sell-entry {
            max-width: 350px;
            margin: 0 25px;
            margin-bottom: 50px;

            > .image-container {
                &::after {
                    content: "";
                    height: 0px;
                    clear: both;
                    display: block;
                }

                > img {
                    border-radius: 5px;
                    width: calc(50% - 10px);
                    margin: 0;
                    box-shadow: var(--outset-neumorph);
                    margin-top: 20px;

                    &:nth-child(odd) {
                        float: left;
                    }

                    &:nth-child(even) {
                        float: right;
                    }

                    &:nth-child(1), &:nth-child(2) {
                        margin-top: 0;
                    }
                }
            }
    
            > .title {
                border-radius: 5px;
                background: $primary-color;
                text-transform: uppercase;
                box-shadow: var(--outset-neumorph);
                font-weight: normal;
                padding: 10px 0;
                margin: 20px 0 0 0;
            }

            > .row {
                &::after {
                    content: "";
                    height: 0px;
                    clear: both;
                    display: block;
                }

                > .price, > .tel {
                    border-radius: 5px;
                    background: $primary-color;
                    box-shadow: var(--outset-neumorph);
                    font-weight: normal;
                    padding: 10px 0;
                    margin: 20px 0;
                    width: calc(50% - 10px);
                }

                > .tel {
                    float: left;
                }

                > .price {
                    float: right;
                    font-size: 1.7em;
                    padding: 5px 0;
                    font-weight: bold;
                }
            }

            > .desc {
                padding: 10px 25px;
                border-radius: 5px;
                background: $primary-color;
                box-shadow: var(--inset-neumorph);
            }
        }
    }
    
    > .buy-container {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        > .buy-entry {
            max-width: 350px;
            margin: 0 25px;
            margin-bottom: 50px;

            > .title {
                border-radius: 5px;
                background: $primary-color;
                text-transform: uppercase;
                box-shadow: var(--outset-neumorph);
                font-weight: normal;
                padding: 10px 0;
                margin: 20px 0 0 0;
            }

            > .row {
                &::after {
                    content: "";
                    height: 0px;
                    clear: both;
                    display: block;
                }

                > .tel {
                    border-radius: 5px;
                    background: $primary-color;
                    box-shadow: var(--outset-neumorph);
                    font-weight: normal;
                    padding: 10px 0;
                    margin: 20px 0 0 0;
                    width: calc(50% - 10px);
                    float: left;
                }
            }

            > .desc {
                margin-top: 20px;
                padding: 10px 25px;
                border-radius: 5px;
                background: $primary-color;
                box-shadow: var(--inset-neumorph);
            }
        }
    }
}