.club-container {
    padding-left: 0;
    padding-right: 0;

    > .gs {
        margin-bottom: 50px;
    }

    > .officials {
        width: 100%; 
        margin-bottom: 50px;

        .official {
            display: inline-block;
            width: 175px;
            margin: 0 10px;
            vertical-align: top;

            > img.official-pic {
                border-radius: 5px;
                width: 100%;
                box-shadow: var(--outset-neumorph);
            }

            > .official-type {
                border-radius: 5px;
                background: $primary-color;
                text-transform: uppercase;
                box-shadow: var(--outset-neumorph);
                font-weight: normal;
                padding: 10px 0;
                margin: 10px 0;
            }

            > .official-data {
                border-radius: 5px;
                background: $primary-color;
                box-shadow: var(--inset-neumorph);
                font-weight: normal;
                padding: 10px;
                margin: 10px 0;

                > .official-name {
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }
            }
        }
    }

    > .referees {
        width: 100%;
        margin-bottom: 50px;

        .referee {
            display: inline-block;
            width: 175px;
            margin: 0 10px;
            vertical-align: top;

            > img.referee-pic {
                border-radius: 5px;
                width: 100%;
                box-shadow: var(--outset-neumorph);
            }

            > .referee-name {
                border-radius: 5px;
                background: $primary-color;
                text-transform: uppercase;
                box-shadow: var(--outset-neumorph);
                font-weight: normal;
                padding: 10px 0;
                margin: 10px 0;
            }

            > .referee-data {
                border-radius: 5px;
                background: $primary-color;
                box-shadow: var(--inset-neumorph);
                font-weight: normal;
                padding: 10px;
                margin: 10px 0;
            }
        }
    }

    > a.button {
        margin-bottom: 50px;
    }


    > .team-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 25px;

        > .team {
            margin-bottom: 75px;
            width: 100%;
            max-width: 350px;
    
            &::after {
                content: '';
                display: block;
                clear: both;
                height: 0;
            }
    
            > .team-name {
                border-radius: 5px;
                background: $primary-color;
                text-transform: uppercase;
                box-shadow: var(--outset-neumorph);
                font-weight: normal;
                padding: 10px 0;
                margin: 10px 0;
            }
    
            > img.team-pic {
                border-radius: 5px;
                width: 100%;
                box-shadow: var(--outset-neumorph);
                margin-bottom: 10px;
            }

            > a.button {
                float: left;
            }
        }
    }
}

.training {
    > .day {
        width: 70px;
        display: inline-block;
        margin: 0 10px;
        vertical-align: top;

        > .time {
            width: 50px;
            height: 50px;
            border-radius: 5px;
            background: $primary-color;
            box-shadow: var(--outset-neumorph);
            padding: 10px;
            margin: 10px 0;
            word-spacing: 9999rem;

            &:empty {
                box-shadow: var(--inset-neumorph);
                background-image: linear-gradient( 45deg, 
                    $primary-color 25%, $dark-neutral-color 25%, 
                    $dark-neutral-color 50%, $primary-color 50%, 
                    $primary-color 75%, $dark-neutral-color 75%, 
                    $dark-neutral-color 100%);
                background-size: 40px 40px;
            }
        }
    }
}

.team-container {
    > div {
        margin-bottom: 50px;

        > h3 {
            text-transform: uppercase;
        }
    }

    > .trainers {
        width: 100%;
        margin-bottom: 50px;

        .trainer {
            display: inline-block;
            width: 175px;
            margin: 0 10px;
            vertical-align: top;

            > img.trainer-pic {
                border-radius: 5px;
                width: 100%;
                box-shadow: var(--outset-neumorph);
            }

            > .trainer-type {
                border-radius: 5px;
                background: $primary-color;
                text-transform: uppercase;
                box-shadow: var(--outset-neumorph);
                font-weight: normal;
                padding: 10px 0;
                margin: 10px 0;
            }

            > .trainer-data {
                border-radius: 5px;
                background: $primary-color;
                box-shadow: var(--inset-neumorph);
                font-weight: normal;
                padding: 10px;
                margin: 10px 0;

                > .trainer-name {
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }
            }
        }
    }

    > .top-goalies {
        > table {
            margin: auto;
            border-spacing: 0;
            text-align: left;

            > tbody {
                box-shadow: var(--outset-neumorph);
                border-radius: 5px;

                > tr {
                    &:nth-child(even) {
                        > td {
                            background: $neutral-color;
                            color: $primary-color;
                        }
                    }

                    &:nth-child(odd) {
                        > td {
                            background: $primary-color;
                            color: $neutral-color;
                        }
                    }

                    &:first-child td:first-child { border-top-left-radius: 5px; }
                    &:first-child td:last-child { border-top-right-radius: 5px; }
                    &:last-child td:first-child { border-bottom-left-radius: 5px; }
                    &:last-child td:last-child { border-bottom-right-radius: 5px; }

                    > td {
                        padding: 5px 10px;
                        margin: 0;
                    }
                }
            }
        }
    }
}

#widget {
    transform: scale(0.6);
    margin: -100px -50%;
}