$font-stack: Arial, Helvetica, sans-serif;
$primary-color: #FA2E21;
$secondary-color: #FFF72C;
$neutral-color: #FFF;
$dark-neutral-color: #2a2a2a;

@function set-text-color($background-color) {
  @if (lightness($background-color) > 70) {
    @return $dark-neutral-color;
  } @else {
    @return $neutral-color;
  }
}

@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}
