@media(min-width: 370px) {
    .container {
        > .team-container {
            > .team {
                > a.button {
                    > .button-arrow {
                        display: block;
                    }
                }
            }
        }
    }
}

@media(min-width: 700px) {
    .container {
        > .team-container {
            > .team {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }

    .teams-compact {
        > .team {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

@media(min-width: 480px) {
    main {
        margin-bottom: 469px;
    }

    footer {
        > .footer-infos{
            > .footer-infos-top {
                display: flex;
                justify-content: space-evenly;
            }
        }
    }
}

@media(min-width: 650px) {
    .home-boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        > .home-box {
            max-width: 40%;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

@media(min-width: 1100px) {
    .home-boxes {
        > .home-box {
            max-width: 200px;
        }
    }
}

@media(min-width: 520px) {
    .banner {
        > .image-container {
            height: 340px;
        }
    }
}

@media(min-width: 1180px) {
    .banner {
        > .image-container {
            height: 600px;
        }
    }
}

@media(min-width: 570px) {
    #widget {
        transform: none;
        margin: 0;
    }
}

@media(min-width: 900px) {
    header {
        > .header-bar {
            > a {
                position: relative;
                z-index: 1000;
            }

            > .nav-button {
                display: none;
            }
        }

        > nav {
            display: block;
            width: auto;
            position: absolute;
            right: 0;
            top: 0;
    
            > ul {
                display: block;
                width: auto;
                float: right;
                margin-right: 20px;
    
                > li {
                    display: inline-block;
                    margin: 0 10px;

                    > a {
                        border-bottom: none;
                        background: none;
                        width: auto;
                        color: $secondary-color;
                        font-weight: bold;
                        height: 60px;
                        line-height: 60px;

                        &::after {
                            content: "";
                            display: block;
                            bottom: 15px;
                            width: 0;
                            height: 2px;
                            background: $neutral-color;
                            position: relative;
                            transition: width 0.25s;
                        }
                    }
    
                    &:hover > a::after, &.active > a::after {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media(min-width: 400px) {
    .container {
        > .timeline {
            .entry-container {
                &::before {
                    right: 25px;
                    position: absolute;
                    display: block;
                    content: '';
                    height: calc(100% - 200px);
                    width: 10px;
                    box-shadow: var(--inset-neumorph);
                }

                > .entry {
                    position: relative;
                    left: auto;
                    right: 0px;
                    width: calc(100% - 105px);
                    margin-left: 0;
                    margin-right: 0;
                    max-width: 700px;

                    &:first-child {
                        margin-top: 0;
                    }

                    > .entry-point {
                        top: 18px;
                        right: -100px;
                        position: absolute;
                        width: 75px;
                        height: 5px;
                        background-color: $secondary-color;
                        box-shadow: var(--outset-neumorph);
                        border-radius: 5px;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;

                        &::before {
                            top: -3px;
                            right: -5px;
                            position: absolute;
                            display: block;
                            content: '';
                            height: 10px;
                            width: 10px;
                            box-shadow: var(--outset-neumorph);
                            border-radius: 50%;
                            background: $secondary-color
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 640px) {
    .container {
        > .timeline {
            .entry-container {
                &::before {
                    left: calc(50% - 5px);
                }

                > .entry {
                    left: -200px;
                    margin-top: -100px;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 200px;

                    &:nth-of-type(even) {
                        left: 200px;

                        > .entry-point {
                            left: -100px;
                            border-radius: 5px;
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;

                            &::before {
                                left: -5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 740px) {
    .container {
        > .timeline {
            .entry-container {
                > .entry {
                    left: -225px;
                    max-width: 250px;

                    &:nth-of-type(even) {
                        left: 225px;
                    }
                }
            }
        }
    }
}

@media(min-width: 840px) {
    .container {
        > .timeline {
            .entry-container {
                > .entry {
                    left: -250px;
                    max-width: 300px;

                    &:nth-of-type(even) {
                        left: 250px;
                    }
                }
            }
        }
    }
}

@media(min-width: 940px) {
    .container {
        > .timeline {
            .entry-container {
                > .entry {
                    left: -275px;
                    max-width: 350px;

                    &:nth-of-type(even) {
                        left: 275px;
                    }
                }
            }
        }
    }
}

@media(min-width: 940px) {
    .container {
        > .timeline {
            .entry-container {
                &::before {
                    left: calc(50% - 5px);
                    position: absolute;
                    display: block;
                    content: '';
                    height: calc(100% - 200px);
                    width: 10px;
                    box-shadow: var(--inset-neumorph);
                }

                > .entry {
                    position: relative;
                    left: -275px;
                    margin-top: -100px;

                    &:nth-of-type(even) {
                        left: 275px;

                        > .entry-point {
                            left: -100px;
                            border-radius: 5px;
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;

                            &::before {
                                left: -5px;
                            }
                        }
                    }

                    &:first-child {
                        margin-top: 0;
                    }

                    > .entry-point {
                        top: 18px;
                        right: -100px;
                        position: absolute;
                        width: 75px;
                        height: 5px;
                        background-color: $secondary-color;
                        box-shadow: var(--outset-neumorph);
                        border-radius: 5px;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;

                        &::before {
                            top: -3px;
                            right: -5px;
                            position: absolute;
                            display: block;
                            content: '';
                            height: 10px;
                            width: 10px;
                            box-shadow: var(--outset-neumorph);
                            border-radius: 50%;
                            background: $secondary-color
                        }
                    }
                }
            }
        }
    }
}