@media(min-width: 370px) {
    .container {
        > .team-container {
            > .team {
                > a.button {
                    > .button-arrow {
                        display: block;
                    }
                }
            }
        }
    }
}

@media(min-width: 700px) {
    .container {
        > .team-container {
            > .team {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
}

@media(min-width: 480px) {
    main {
        margin-bottom: 419px; //TODO: get footer height dynamically
    }

    footer {
        > .footer-infos{
            > .footer-infos-top {
                display: flex;
                justify-content: space-evenly;
            }
        }
    }
}

@media(min-width: 520px) {
    .home-boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        > .home-box {
            max-width: 40%;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

@media(min-width: 1100px) {
    .home-boxes {
        > .home-box {
            max-width: 200px;
        }
    }
}

@media(min-width: 520px) {
    .banner {
        > .image-container {
            height: 340px;
        }
    }
}

@media(min-width: 1180px) {
    .banner {
        > .image-container {
            height: 600px;
        }
    }
}