@media(min-width: 370px) {
    .container {
        > .team-container {
            > .team {
                > a.button {
                    > .button-arrow {
                        display: block;
                    }
                }
            }
        }
    }
}

@media(min-width: 700px) {
    .container {
        > .team-container {
            > .team {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }

    .teams-compact {
        > .team {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

@media(min-width: 480px) {
    main {
        margin-bottom: 469px;
    }

    footer {
        > .footer-infos{
            > .footer-infos-top {
                display: flex;
                justify-content: space-evenly;
            }
        }
    }
}

@media(min-width: 520px) {
    .home-boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        > .home-box {
            max-width: 40%;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

@media(min-width: 1100px) {
    .home-boxes {
        > .home-box {
            max-width: 200px;
        }
    }
}

@media(min-width: 520px) {
    .banner {
        > .image-container {
            height: 340px;
        }
    }
}

@media(min-width: 1180px) {
    .banner {
        > .image-container {
            height: 600px;
        }
    }
}

@media(min-width: 570px) {
    #widget {
        transform: none;
        margin: 0;
    }
}

@media(min-width: 900px) {
    header {
        > .header-bar {
            > a {
                position: relative;
                z-index: 1000;
            }

            > .nav-button {
                display: none;
            }
        }

        > nav {
            display: block;
            width: auto;
            position: absolute;
            right: 0;
            top: 0;
    
            > ul {
                display: block;
                width: auto;
                float: right;
                margin-right: 20px;
    
                > li {
                    display: inline-block;
                    margin: 0 10px;

                    > a {
                        border-bottom: none;
                        background: none;
                        width: auto;
                        color: $secondary-color;
                        font-weight: bold;
                        height: 60px;
                        line-height: 60px;
                    }
    
                    &:hover > a, &.active > a{
                        background: none;
                        color: $neutral-color;
                    }
                }
            }
        }
    }
}