.shop-container {
    > img.online-shop-photo {
        border-radius: 5px;
        width: 100%;
        box-shadow: var(--outset-neumorph);
        margin-bottom: 10px;
        max-width: 350px;
        display: block;
        margin: auto;
        margin-bottom: 25px;
    }

    > .clothing-stock-desc {
        padding: 10px 25px;
        border-radius: 5px;
        background: $primary-color;
        box-shadow: var(--inset-neumorph);
        font-size: 0.9em;
    }

    > h3 {
        margin-top: 50px;
    }

    > p {
        font-weight: bold;
        color: $secondary-color;
        margin-bottom: 50px;
    }

    > .fan-shop-container {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        > .fan-shop-entry {
            max-width: 350px;
            margin: 0 25px;
            margin-bottom: 50px;

            > .image-container {
                &::after {
                    content: "";
                    height: 0px;
                    clear: both;
                    display: block;
                }

                > img {
                    border-radius: 5px;
                    width: calc(50% - 10px);
                    margin: 0;
                    box-shadow: var(--outset-neumorph);
                    margin-top: 20px;

                    &:nth-child(odd) {
                        float: left;
                    }

                    &:nth-child(even) {
                        float: right;
                    }

                    &:nth-child(1), &:nth-child(2) {
                        margin-top: 0;
                    }
                }
            }
    
            > .title {
                border-radius: 5px;
                background: $primary-color;
                text-transform: uppercase;
                box-shadow: var(--outset-neumorph);
                font-weight: normal;
                padding: 10px 0;
                margin: 20px 0 0 0;
            }

            > .row {
                &::after {
                    content: "";
                    height: 0px;
                    clear: both;
                    display: block;
                }

                > .price {
                    border-radius: 5px;
                    background: $primary-color;
                    box-shadow: var(--outset-neumorph);
                    font-weight: normal;
                    padding: 10px 0;
                    margin: 20px 0 0 0;
                    width: calc(50% - 10px);
                    float: right;
                    font-size: 1.7em;
                    padding: 5px 0;
                    font-weight: bold;
                }
            }

            > .desc {
                padding: 10px 25px;
                border-radius: 5px;
                background: $primary-color;
                box-shadow: var(--inset-neumorph);
                margin-top: 20px;
            }
        }
    }
}
