// .container {
//   max-width: 1100px;
//   padding: 0 30px;
//   margin: 0 auto;
//   overflow: auto;
// }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.marginizer {
    &::before, &::after {
        clear: both;
        content: "";
        display: table;
        margin-bottom: -1px;
        height: 0; 
    }
}

.container {
    padding: 25px;
}