@import 'config';
@import 'utilities';
//SITES
@import 'slick';
@import 'home';
@import 'club';
@import 'shop';
@import 'boerse';
@import 'gallery';
@import 'downloads';
@import 'history';

:root {
    --outset-neumorph: 
        -3px -3px 5px rgba(255, 255, 255, 0.2),
        4px 4px 5px rgba(0, 0, 0, 0.3),
        inset 0px 0px 0px rgba(255, 255, 255, 0.1),
        inset 0px 0px 0px rgba(0, 0, 0, 0.15);
    --inset-neumorph: 
        0px 0px 0px rgba(255, 255, 255, 0.2),
        0px 0px 0px rgba(0, 0, 0, 0.3),
        inset -4px -4px 10px rgba(255, 255, 255, 0.1),
        inset 6px 6px 10px rgba(0, 0, 0, 0.15);
    --box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);

    @if ($dark-mode) {
        --outset-neumorph: 
            -3px -3px 5px rgba(255, 255, 255, 0.05),
            4px 4px 5px rgba(0, 0, 0, 0.3),
            inset 0px 0px 0px rgba(255, 255, 255, 0.035),
            inset 0px 0px 0px rgba(0, 0, 0, 0.15);
        --inset-neumorph: 
            0px 0px 0px rgba(255, 255, 255, 0.05),
            0px 0px 0px rgba(0, 0, 0, 0.3),
            inset -4px -4px 10px rgba(255, 255, 255, 0.035),
            inset 6px 6px 10px rgba(0, 0, 0, 0.15);
        --box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    } 
}

body {
    font-family: $font-stack;
    width: 100%;
    height: 100vh;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: $secondary-color;
    text-decoration: underline;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: $secondary-color;
    transition: text-shadow 0.5s, color 0.5s;

    &:hover {
        text-shadow: 
            0px 0px 50px black,
            0px 0px 50px black,
            0px 0px 50px black;
    }
}

// image-viewer css
img.image-viewer, .image-viewer > img {
    cursor: pointer;
}

a.button {
    display: inline-block;
    background: $neutral-color;
    box-shadow: var(--outset-neumorph);
    border-radius: 5px;
    padding: 15px 25px;
    font-weight: bold;
    color: $primary-color;
    font-size: 1.1em;
    transition: color 0.25s, background-color 0.25s;

    &:hover {
        background-color: $primary-color;
        color: $neutral-color;
        text-shadow: none;

        > .button-arrow {
            background-color: $neutral-color;
    
            &::before {
                background-color: $neutral-color;
            }
        
            &::after {
                background-color: $neutral-color;
            }
        }
    }

    &::after {
        display: block;
        content: '';
        height: 0;
        clear: both;
    }

    > .button-text {
        float: left;
        width: calc(100% - 30px);
    }

    > .button-arrow {
        float: right;
        height: 2px;
        width: 15px;
        background: $primary-color;
        position: relative;
        top: 50%;
        margin-left: 15px;
        transition: background-color 0.25s;

        &::before {
            content: '';
            display: block;
            height: 2px;
            width: 10px;
            position: absolute;
            background: $primary-color;
            transform: rotateZ(35deg);
            top: -3px;
            left: 7px;
            transition: background-color 0.25s;
        }
    
        &::after {
            content: '';
            display: block;
            height: 2px;
            width: 10px;
            position: absolute;
            background: $primary-color;
            transform: rotateZ(-35deg);
            top: 3px;
            left: 7px;
            transition: background-color 0.25s;
        }
    }
}

header {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: var(--box-shadow);
    transition: height 0.25s;
    overflow: hidden;

    > .header-bar {
        @include set-background($primary-color);
        border-bottom: 2px $secondary-color solid;
        display: grid;
        grid-template-columns: max-content auto 50px;
        grid-template-rows: 60px;
        grid-template-areas: "a . nav-button";

        > a {
            grid-area: a;
            display: grid;
            grid-template-columns: 60px max-content;
            grid-template-rows: 60px;
            grid-template-areas: "logo club-name";

            > .logo {
                grid-area: logo;
                height: 50px;
                width: 50px;
                margin: 5px;
            }
            
            > .club-name {
                grid-area: club-name;
                height: 60px;
                line-height: 60px;
                margin: 0 0 0 15px;
                color: $neutral-color;
                text-decoration: none;
                text-shadow: 
                1px 1px 0px $dark-neutral-color,
                1px -1px 0px $dark-neutral-color,
                -1px 1px 0px $dark-neutral-color,
                -1px -1px 0px $dark-neutral-color;
            }
        }
    
        > .nav-button {
            width: 30px;
            height: 30px;
            margin: 15px;
            grid-area: nav-button;
            @include set-background($primary-color);
            box-shadow: var(--outset-neumorph);
            border-radius: 5px;
            transition: all 0.25s;
            cursor: pointer;
            justify-self: end;
    
            &.open {
                box-shadow: var(--inset-neumorph);

                > .nav-button-icon {
                    background-color: transparent;
                    transition: background-color 0s 0.125s;
    
                    &::before {
                        width: 20px;
                        top: 0;
                        transform: rotateZ(45deg);
                        transition: top 0.125s 0s, transform 0.125s 0.125s, width 0.25s;
                    }
                    
                    &::after {
                        width: 20px;
                        top: 0;
                        transform: rotateZ(-45deg);
                        transition: top 0.125s 0s, transform 0.125s 0.125s, width 0.25s;
                    }
                }
            }

            > .nav-button-icon {
                height: 2px;
                margin: 14px 4px;
                background-color: white;
                position: relative;
                transition: background-color 0s 0.125s;

                &::before, &::after {
                    content: "";
                    width: 22px;
                    position: absolute;
                    display: block;
                    height: 2px;
                    margin: 0 4px;
                    left: -4px;
                    background-color: white;
                    top: -5px;
                    transition: top 0.125s 0.125s, transform 0.125s 0s;
                }

                &::after {
                    top: 5px;
                }
            }
        }
    }

    > nav {
        display: none;
        width: 100%;
        top: 2px;
        left: 0;

        > ul {
            display: block;
            width: 100%;

            > li {
                > a {
                    display: block;
                    height: 40px;
                    border-bottom: 2px $secondary-color solid;
                    @include set-background($primary-color, 0.85);
                    width: 100%;
                    line-height: 40px;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    text-shadow: none !important;
                    @include font-size(1);
                    color: $secondary-color;
                    font-weight: bold;
                    transition: background-color 0.25s, color 0.25s !important;
                }

                &:hover > a, &.active > a{
                    @include set-background($primary-color, 1);
                }
            }
        }
    }
}

main {
    margin-top: 62px;
    margin-bottom: 246px;
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 2;

    > .main-container {
        @include set-background($primary-color);
        text-align: center;
        font-size: 1.1em;
        min-height: 82.4vh
    }
}

footer {
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100%;

    > .sponsors {
        width: 100%;
        height: 140px;
        background: url("../img/bg_sponsors.png") repeat;
        box-shadow: inset 0px 0px 44px rgba(255, 255, 255, 0.11);

        > .sponsors-container {
            width: max-content;
            margin: auto;
            padding: 20px 0;

            > a {
                margin: 10px;

                &:hover > img {
                    filter: grayscale(0%);
                }
            }

            img {
                height: 100px;
                filter: grayscale(100%);
                transition: filter 0.25s;

            }
        }
    }

    > .footer-infos{
        @include set-background(#1A1A1A);

        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            @include set-background(#717171);
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
        }

        > .footer-infos-top {
            position: relative;
            display: none;
            justify-content: space-evenly;

            > .contact {
                margin: 10px;
                align-self: center;
                width: max-content;
                margin: 10px auto 25px auto;
            }
    
            > .maps {            
                margin: 10px auto;
                width: max-content;
            }
        }

        > .footer-menu {
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: center;
            margin: 25px 0;

            > li {
                padding: 0 10px;
                height: 30px;
                line-height: 30px;
                @include font-size(0.6);

                > a {
                    text-decoration: none;
                    color: #666666;
                    font-weight: bold;
                    @include font-size(0.7);

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }

        > .copyright {
            line-height: 25px;
            height: 25px;
            text-align: center;
        }
    }
}

.datenschutz-container {
    > h3 {
        margin-top: 50px;
        margin-bottom: 35px;
    }

    > h4 {
        margin-top: 50px;
        margin-bottom: 25px;
    }
}

@import 'mobile';

@import 'dark';